$white: #ffffff;
$light-grey: #e7e7e7;
$dark-grey: #383838;
$title-grey: #2d2829;
$subtitle-grey: #32313d;
$black: #000000;
$pink: #f50049;

$body-color: #fbebea;

$header-bg: $white;
$mobile-menu-bg: $light-grey;
$menu-link-color: $dark-grey;
$menu-link-shadow: rgba($black, 0.05);
$hamburger-color: $black;

$mobile-content-padding: 20px;

$promo-title-color: $title-grey;
$promo-subtitle-color: $subtitle-grey;
$main-button-color: $pink;

$cake-cart-shadow: #a3063c;

$phone-width: 320px;
$tablet-width: 768px;
