.main-nav{
  display: none;

  position: absolute;
  top: 29px;
  left: 0;

  background-color: $mobile-menu-bg;
}

.main-nav--opened{
  display: block;
}

.main-nav__list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link{
  display: block;
  width: 280px;
  padding: 0 $mobile-content-padding;
  padding-top: 16px;
  padding-bottom: 10px;

  color: $menu-link-color;
  font-family: 'Circe', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  box-shadow: 0 1px 1px 0 $menu-link-shadow;
}

.main-nav__item:last-child .main-nav__link{
  box-shadow: none;
}

@media (min-width: $tablet-width) {
  .main-nav{
    top: 38px;
  }
}
